.MyPicture {
  filter: brightness(85%);
  animation: bounce 2s infinite ease-in-out;
}

.main {
  /* background-color: rgb(6, 6, 6); */
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
}

.name {
  color: #6db79e;
  font-size: 2rem;
  font-weight: bold;
}

.resumeButton {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
  border: 1px solid white;
}

.resumeButton:hover {
  transform: scale(1.05);
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Contact {
  width: 100%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .Name {
    margin-top: 2em;
  }
  .MyPicture {
    width: 12em;
    height: 12em;
  }

  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .name {
    font-size: 1.5rem;
  }

  .resumeButton {
    font-size: 1rem;
  }
}
