/* .slider-container {
  margin-top: 7em;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  white-space: nowrap;
  gap: 3em;
}

.slider::-webkit-scrollbar {
  display: none;
}
.slider-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.YT {
  width: 10em;
  height: 8em;
}

.projectImage {
  border: 1px solid white;
  width: fit-content;
  padding: 0.5em;
  margin: 0 1em;
}

.projectDiv {
  width: fit-content;
  border-radius: 0.7em;
  scroll-snap-align: start;
  text-align: center;
  color: white;
}

.sourceCode,
.tapToView {
  font-size: 0.8em;
  padding: 0.3em 0.7em;
}

button {
  cursor: pointer;
} */