.YT {
  width: 10em;
  height: 8em;
}

.projectImage {
  border: 1px solid white;
  width: fit-content;
  padding: 0.5em;
  margin: 0 1em;
}

.projectDiv {
  border-radius: 0.7em;
  scroll-snap-align: start;
  text-align: center;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0.0625em 0.0625em, 
              rgba(255, 255, 255, 0.25) 0px 0.125em 0.5em, 
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectDiv:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0.2em 0.2em, 
              rgba(255, 255, 255, 0.35) 0px 0.3em 0.7em, 
              rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset;
}


.sourceCode,
.tapToView {
  font-size: 0.8em;
  padding: 0.3em 0.7em;
}

button {
  cursor: pointer;
}

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}